* {
    font-family: 'Roboto', sans-serif;
}
.wrapper {
    display: grid;
    /*edit pixels as needed*/
    grid-template-columns: repeat(4, 310px);
    grid-template-rows: repeat(2, 500px);
    height: 1100px;
    width: 1300px;
    grid-gap: 50px;
    grid-template-areas:
    "a a b b"
    "c d e f";
}
.timeline {
    grid-area: a;
}
.map {
    grid-area: b;
}
.by_state {
    grid-area: c;
    border-color: black;
    border-style: solid;
    border-width: 4px;
    overflow: scroll;
}
.by_gender {
    grid-area: d;
    border-color: black;
    border-style: solid;
    border-width: 4px;
}

.story {
    grid-area: e;
    border-color: black;
    border-style: solid;
    border-width: 4px;
}

.incident_list {
    grid-area: f;
    border-color: black;
    border-style: solid;
    border-width: 4px;
    overflow: scroll;
}
.states {
    fill: none;
}
.boundary {
    fill: none;
    stroke: black;
    stroke-width: .7px;
}
.selected {
    opacity: 1.2;
    stroke: black;
    stroke-width: 2px;
}

#slider{
    width: 610px;
}
#scroll{
    width: 480px;
    transform: rotate(90deg);
    margin-top: 240px;
    margin-left: 40px;
}
